@{
    ViewBag.Title = "Home Page";
}


<div>
    <div style="background-image: url('../../Content/images/shipley_shop_background.svg'); height: 900px; background-repeat:no-repeat;background-position:revert;background-size:100%">
     </div>
</div>